extends layout 

block content 
  .card
    .card-body
      h2.card-title About Us
      p.card-text The Lost and Found Management System is designed and maintained by the Department of Information Technology (DIT) staff to provide assistance to students and staff. Our purpose is to streamline the process of reporting lost items, facilitating their recovery, and enhancing communication within the campus community.
